<div class="modal-overlay">
    <div class="modal-box">
        <div class="modal-header">
            <div class="modal-header-row">
                <div class="modal-title"><label>Dodaj dobavljača</label></div>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-content-row">
                <div class="modal-row-element">Naziv:</div>
                <div class="modal-row-element"><input type="text" ng-model="name" /></div>
            </div>
            <div class="modal-content-row">
                <div class="modal-row-element">Odaberi proizvode:</div>
            </div>
            <div class="modal-content-row">
                <div class="modal-row-element">
                    <input ng-model="search" placeholder="Pretraži..." size="20" />
                    <span class="row-search-icon" aria-hidden="true">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="modal-content-row products-row">
                <div class="products-container">
                    <div ng-repeat="product in products|filter: search" class="single-product" ng-click="selectProduct(product)">
                        <span>{{product.Name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-buttons">
                <div class="single-button"><button ng-click="addNewSupplier()">Dodaj</button></div>
                <div class="single-button cancel-button"><button ui-sref="suppliers">Odustani</button></div>
            </div>
        </div>
    </div>
</div>