body{
    overflow: hidden;
}
/* OBLIKOVANJE MAIN DASHBOARD PROZORA */
#dashboard .dashboard-main{
    height: 92.2vh;
    margin-top: 52px;
    position: relative;
    display: flex;
}
/* LIJEVI STUPAC */
#dashboard .left-column{
    position: relative;
    height: inherit;
    width: 80%;
    background-color: rgb(240,240,240);
    display: flex;
}
/* LINKOVI DO RADNIKA, NARUDŽBI, PROIZVODA I DOBAVLJAČA */
#dashboard .button-container{
    width: 30%;
    height: 100%;
    display: block;
}

#dashboard .button-container button{
    display: block;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    width: 300px;
    height: 137.5px;
    background-color: white;
    border: none;
    border-radius: 2.5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Playfair Display', serif, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
}

#dashboard .button-container button:hover{
    border-right: solid 25px steelblue;
}

#dashboard .button-container button:not(:hover){
    border-right: solid 0px;
}

/* GRAFOVI I BROJKE */
#dashboard .useful-info-container{
    width: 70%;
    display: block;
    justify-content: space-around;
}

/* KRUGOVI S POSTOTCIMA */
#dashboard .percent-circles-container{
    height: auto;
    display: flex;
    position:relative;
}

#dashboard .left-circle,
#dashboard .right-circle{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 270px;
    height: 290px;
    background-color: white;
    color: black;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
    overflow: hidden;
}

#dashboard .left-circle{
    margin-left: 0px;
    margin-right: 5px;
}

#dashboard .right-circle{
    margin-left: 5px;
    margin-right: 5px;
}

#dashboard .percent-circle-header{
    height: 50px;
    width: 100%;
    background-color: rgb(34,34,34);
    text-align: center;
}

#dashboard .percent-circle-header div{
    padding-top: 15px;
    font-size: 21px;
    color: white;
}

#dashboard .circle-item{
    display: block;
    margin:auto;
    margin-top:10px;
    margin-bottom: 15px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-color: rgb(220,220,220);
    text-align: center;
    position: relative;
    background-image:
        linear-gradient(90deg, rgb(220,220,220) 50%, #A2ECFB 50%),
        linear-gradient(80deg, #A2ECFB 50%, rgb(220,220,220) 50%);
}

#dashboard .inner-circle{
    display: block;
    margin:auto;
    position: relative;
    top: 10px; 
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 10px solid;
    border-color: transparent;
    background-color: white;
    text-align: center;
}

#dashboard .circle-item .orders-number{
    font-size: 30px;
    display: block;
    margin: auto;
    margin-top: +21px;
    z-index: 5;
}

#dashboard .circle-description{
    height: 50px;
    display: block;
}

#dashboard .color-row{
    display: block;
    margin:auto;
    margin-top: 5px;
    margin-left: 80px;
    height: 20px;
    width:50%;
    justify-content:space-around;
    text-align: center;
}

#dashboard .circle-text{
    display: block;
    margin-top: -17.5px;
    font-size: 15px;
}

#dashboard .order-planned-color,
#dashboard .order-finished-red-color,
#dashboard .order-finished-blue-color,
#dashboard .order-active-blue-color,
#dashboard .order-active-red-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

.grey-color{
    background-color: grey;
}

.order-finished-red-color{
    background-color: rgb(128,29,29);
}

.order-finished-blue-color{
    background-color: steelblue;
}

.order-active-blue-color{
    background-color: lightblue;
}

.order-active-red-color{
    background-color: indianred;
}

/* PRIKAZ TRENUTNOG BROJA PROIZVODA U SKLADIŠTU, DOBAVLJAČA, ZAPOSLENIH RADNIKA, UKUPNOG BROJA NARUDŽBI */
#dashboard .current-numbers-container{
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 185px;
    height: 290px;
    background-color: white;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
}

#dashboard .current-numbers-container ul{
    list-style: none;
    display: inline-block;
    margin-top: -4px;
    width: 100%;
}

#dashboard .current-numbers-container li{
    display: block;
    font-size: 13px;
    text-align: center;
    margin-top: 2px;
    text-transform: uppercase;
    color: black;
}

#dashboard .current-numbers-container li span{
    font-size: 32px;
    border-bottom: dashed 1px darkslategrey;
    color: steelblue;
}

@-moz-document url-prefix(){
    #dashboard .current-numbers-container li{
        margin-top: 1px;
    }
}
/* GRAF S POSTOTCIMA IZVRŠENIH NARUDŽBI PO DANU */
#dashboard .orders-bar-chart-container{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 745px;
    height: 290px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
}



/* DESNI STUPAC */
#dashboard .right-column{
    height: inherit;
    width: 20%;
    background-color: rgb(240,240,240);
    z-index: 1;
}
/* DIZAJN ZA NEDAVNE AKTIVNOSTI */
#dashboard .activity-column{
   background-color: white;
   color: black;
   height:inherit;
   display: block;
   box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2);
}

#dashboard .activity-header{
    border-bottom: steelblue 1px solid;
    color: rgb(34,34,34);
    height: 4.5%;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

#dashboard .activity-header div{
    height: 20px;
}

#dashboard .activity-container{
    height: 95%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}
