/* DIZAJN SIGNIN FORME */
#signin .signin-main{
    height: 100vh;
    width: 100%;
    z-index: 10;
    position: relative;
    background-color: rgb(249,249,249);
    justify-content: center;
    display: flex;
}
/* GLAVNI STUPAC SA SADRŽAJ */
#signin .signin-form-column{
    min-width: 50%;
    width: auto;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
/* DIO KOJI SADRŽI LOGO */
#signin .signin-logo-container{
    height: 45%;
    max-height: 300px;
    min-width: 65%;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signin .signin-logo-container img{
    max-width: 90%;
    width: auto;
    height: auto;
    max-height: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

/* DIO S FORMAMA ZA UNOS */
#signin .signin-form-container{
    height: 42%;
    max-height: 280px;
    width: 60%;
    max-width: 500px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-flow: column;
}

#signin .signin-form-header{
    height: 15%;
    width: 100%;
    background-color: rgb(34,34,34);
    color: white;
    font-size: 32px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#signin .signin-form-content{
    height: 85%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
}

#signin .signin-form-content .input-box{
    width: 100%;
    height: 20%;
}

#signin .signin-form-content .input-box input{
    font-size: 19px;
    font-weight: 400;
    font-family: 'Cormorant Infant', serif, sans-serif;
    max-width: 80%;
    min-width: 60%;
    width: auto;
    padding: 5px 2px;
    border-radius: 3px;
    border: solid 1px rgb(34, 34, 34);
    color: black;
}

#signin input:focus,
#signin .signin-button button:focus{
    outline: none;
}

#signin .signin-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signin .signin-button button{
    font-size: 19px;
    font-weight: 400;
    font-family: 'Cormorant Infant', serif, sans-serif;
    width: 40%;
    padding: 5px 2px;
    border-radius: 5px;
    background-color: rgb(34,34,34);
    border: solid 1px rgb(34, 34, 34);
    color: white;
    cursor: pointer;
}

#signin .signin-button button:hover{
    background-color: steelblue;
    box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.3);
}

#signin .forgot-password{
    padding-top: 6px;
    cursor: pointer;
    color: rgb(34,34,34);
    font-size: 16px;
}

#signin .forgot-password:hover{
    color: darkred;
}