/* MAIN MODAL OVERLAY DESIGN */
.modal-overlay{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.5);
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadein 0.5s linear 0.1s forwards normal;
}

.modal-overlay .snackbar{
    margin-left: 0%;
}

/* MODAL WINDOW DESIGN */
.modal-box{
    height: 450px;
    width: 500px;
    border-radius: 4px;
    overflow: hidden;
    -ms-overflow-style: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    display: flex;
    flex-flow: column;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    opacity: 0;
    animation: fadein 0.5s linear 0.05s forwards normal;
}

.edit-supplier-modal-box{
    width: 600px;
}

.register-box{
    height: 400px;
}

@keyframes fadein{
    0% {opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fadeout{
    0% {opacity: 1;}
    100% { opacity: 0;}
}


@keyframes fadeinout{
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    100% { opacity: 0;}
}

.fadeout{
    animation: fadeout 0.5s linear 0.05s forwards normal;
}

/* MODAL HEADER DESIGN */
.modal-header{
    width: 100%;
    height: 11%;
    background-color: steelblue;
    color: white;
    display: flex;
}

.modal-header-row,
.modal-title{
    width: 100%;
    height: 100%;
    display: flex;
}

.modal-title label{
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 23px;
}
/* MODAL CONTENT DESIGN */
.modal-content{
    width: 100%;
    height: 77%;
    background-color: white;
    color: black;
    display: flex;
    flex-flow: column;
}

.modal-content-row,
.inner-content-row{
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content-row:last-of-type{
    height: 46%;
}

.register-box .modal-content{
    justify-content: center;
}

.register-box .modal-content-row{
    height: 29%;
    width: 100%;
}

.employeeNameContainer{
    background-color: lightblue;
    padding: 1px 1px 2px 1px;
    border-radius: 3px;
    width: 800px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deselect-icon{
    padding-left: 5px;
    cursor: pointer;
    font-size: 21px;
}

.main-choice-buttons-row{
    height: 40%;
}

.modal-row-element{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.modal-row-element:nth-child(2n+1){
    height: 100%;
    width: 40%;
}

.modal-row-element:nth-child(2n+2){
    height: 100%;
    width: 50%;
}

.main-choice-buttons-row .modal-row-element{
    width: 50%;
}

.main-choice-buttons-row .modal-row-element:first-of-type{
    justify-content: flex-end;
}

.main-choice-buttons-row .modal-row-element:last-of-type{
    justify-content: flex-start;
}

.creation-time-row,
.creation-time-row .modal-row-element{
    width: 100%;
}

.row-title{
    font-size: 20px;
}

.register-box .modal-row-element{
    width: 100%;
}

.modal-row-element input{
    width: 90%;
    font-size: 18px;
    font-family: inherit;
    border: solid 1px cadetblue;
    border-radius: 3px;
    padding-left: 5px;
    margin-left: 5px;
}

.register-box .modal-row-element input{
    width: 60%;
}

.modal-row-element input:focus{
    outline: none;
}

.modal-row-element select{
    width: 90%;
    font-family: inherit;
    font-size: 18px;
    border-radius: 3px;
    border: solid 1px cadetblue;
}

.modal-row-element select:focus{
    outline: none;
}

.main-choice-buttons-row .main-choice-button,
.modal-row-element .image-upload-button,
.single-button button{
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 18px;
    padding: 5px 16px;
    border-radius: 3px;
    cursor: pointer;
    transition-delay: 0.05s;
    transition-duration: 0.5s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.barcode-row{
    overflow-y: hidden;
    overflow-x: visible;
    -ms-overflow-style: none;
}

.barcode-row barcode{
    margin-top: -70px;
}

.modal-note-row{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-row-element{
    background-color: lightblue;
    height: 80%;
    width: 80%;
    padding: 9px;
    font-size: 19px;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;
    text-wrap: normal;
    overflow-wrap: break-word;
}

.main-choice-buttons-row .main-choice-button:hover,
.image-upload-button:hover,
.single-button button:hover{
    background-color: steelblue;
    box-shadow: 3px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.cancel-button button:hover{
    background-color: darkred;
}

.modal-row-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -ms-overflow-style: none;
}

.modal-row-image img{
    min-height: 100px;
    width: auto;
    height: auto;
    max-height: 100%;
    image-rendering: auto;
    image-resolution: from-image;
    background-size: cover;
    border-radius: 4px;
}

.row-search-icon{
    padding-left: 5px;
}

.modal-box .products-row{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    -ms-overflow-style: none;
}

.edit-supplier-modal-box .products-rows-container{
    height: 100%;
    overflow: hidden;
    -ms-overflow-style: none;
    display: flex;
}

.edit-supplier-modal-box .products-row{
    flex-flow: column;
    width: 50%;
    justify-content: center;
}

.edit-supplier-modal-box .products-row .modal-row-element{
    width: auto;
    height: 11%;
}

.products-row .products-container{
    background-color: lightblue;
    border-radius: 3px;
    width: 90%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;
}

.products-container .selectedEmployeeName{
    width: 120px;
    background-color: white;
}

.edit-supplier-modal-box .products-container{
    margin: 10px 0px;
}

.products-container .single-product{
    width: 100%;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    opacity: 0;
    animation: fadein 0.5s linear 0.4s forwards normal;
}

.products-container .single-product:nth-child(2n+1){
    background-color: lightblue;
}

.products-container .single-product:nth-child(2n+2){
    background-color: rgb(240, 240, 240);
}

.products-container .single-product:last-child{
    border-bottom: solid 1.5px rgb(235,235,235);
}

.details-box .single-product{
    justify-content: space-around;
}

.main-choice-buttons-row .main-choice-button{
    background-color: lightsteelblue;
    height: 38%;
    width: 35%;
    font-size: 24px;
    padding: 0px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.modal-content-row-container{
    width: 100%;
    height: 100%;
}

/* MODAL FOOTER DESIGN */
.modal-footer{
    width: 100%;
    height: 12%;
    background-color: rgb(235,235,235);
    display: flex;
}

.modal-footer .modal-buttons{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.modal-buttons .single-button{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-button button{
    font-family: inherit;
    font-size: 20px;
    height: 80%;
    width: 65%;
    border: none;
}

.note-row .note-button{
    width: 90%;
    height: 60%;
}