<div class="modal-overlay">
    <div class="modal-box">
        <div class="modal-header">
            <div class="modal-header-row">
                <div class="modal-title"><label>Uredi zaposlenika</label></div>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-content-row">
                <div class="modal-row-element">Ime:</div>
                <div class="modal-row-element"><input type="text" ng-model="firstName" /></div>
            </div>
            <div class="modal-content-row">
                <div class="modal-row-element">Prezime</div>
                <div class="modal-row-element"><input type="text" ng-model="lastName" /></div>
            </div>
            <div class="modal-content-row">
                <div class="modal-row-element">Slika:</div>
                <div class="modal-row-element">
                    <div ngf-select name="file" ng-model="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                         ngf-resize="{width: 200, height: 200}" class="image-upload-button">Odaberi novu</div>
                </div>
            </div>
            <div class="modal-content-row">
                <div class="modal-row-image">
                    <img ngf-src="file" ng-model="previewPicture" alt="Alternate Text" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-buttons">
                <div class="single-button"><button ng-click="editEmployee()">Spremi</button></div>
                <div class="single-button cancel-button"><button ui-sref="employees">Odustani</button></div>
            </div>
        </div>
    </div>
</div>

