<div class="modal-overlay">
    <div class="modal-box register-box">
        <div class="modal-header">
            <div class="modal-header-row">
                <div class="modal-title"><label>Registracija novog korisnika</label></div>
            </div>
        </div>
        <div class="modal-content">
            <div class="order-modal-row">
                <div class="modal-row-element"><input type="text" ng-model="companyName" placeholder="Ime tvrtke"></div>
            </div>
            <div class="order-modal-row">
                <div class="modal-row-element"><input type="text" ng-model="managerFirstName" placeholder="Vaše ime"></div>
            </div>
            <div class="order-modal-row">
                <div class="modal-row-element"><input type="text" ng-model="managerLastName" placeholder="Vaše prezime"></div>
            </div>
            <div class="order-modal-row">
                <div class="modal-row-element"><input type="text" ng-model="username" ng-change="checkUsername()" placeholder="Korisničko ime"></div>
            </div>
            <div class="order-modal-row">
                <div class="modal-row-element"><input type="password" ng-model="password" placeholder="Lozinka"></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-buttons">
                <div class="single-button"><button ng-click="registerNew()" ng-disabled="userNameExists">Registriraj se</button></div>
                <div class="single-button cancel-button"><button ui-sref="login">Odustani</button></div>
            </div>
        </div>
    </div>
    <div class="snackbar" ng-show="userNameExists" ng-init="userNameExists=false"><div class="snackbar-content">Korisničko ime već postoji</div></div>
</div>
