<div id="employees">
    <div class="main-frame">
        <div class="frame-header">
            <span>Radnici</span>
        </div>
        <div class="frame-columns">
            <label>Slika</label>
            <label>Naziv</label>
            <label>Količina u skladištu</label>
            <input ng-model="search" placeholder="Pretraži..." size="15" />
        </div>
        <div class="frame-content">
            <div ng-repeat="employee in allEmployees| filter: global.search">
                {{employee.FirstName}}
                {{employee.LastName}}
                <img ng-src="{{employee.ImageUrl}}" ng-model="image" alt="Korisnik nema sliku" />
                <button ui-sref="editemployee({id: employee.Id})">Uredi</button>
                <button ng-click="deleteEmployee(employee.Id, employee.FirstName, employee.LastName)">Izbriši</button>
            </div>
            <div ui-view></div>
        </div>
    </div>
</div>
