<div class="modal-overlay" ng-show="!incomingSelected && !outgoingSelected">
    <div class="modal-box select-order-type-box">
        <div class="modal-header">
            <div class="modal-header-row">
                <div class="modal-title"><label>Stvori narudžbu</label></div>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-content-row">
                <div class="modal-row-element">Odaberi vrstu narudžbe:</div>
            </div>
            <div class="content-buttons-row">
                <div class="modal-buttons">
                    <div class="single-button"><button ng-click="incomingSelect()">Ulazna</button></div>
                    <div class="single-button"><button ng-click="outgoingSelect()">Izlazna</button></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-buttons">
                <div class="single-button cancel-button"><button ui-sref="orders">Odustani</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay" ng-show="incomingSelected">
    <div class="modal-box order-modal-box">
        <div class="modal-header">
            <div class="modal-header-row">
                <div class="modal-title"><label>Stvori ulaznu narudžbu</label></div>
            </div>
        </div>
        <div class="modal-content">
            <div class="order-modal-row">
              Dobavljač: <select ng-options="supplier as supplier.Name for supplier in suppliers track by supplier.Id" ng-model="selectedSupplier" ng-change="getProductsForSupplier()"></select>
            </div>
            <div class="order-columns-row">
                <div class="order-modal-column">
                    <div class="order-modal-row">Odabrani proizvodi:</div>
                    <div class="order-table-container">
                        <div class="order-table">
                            <div ng-repeat="product in selectedProducts" class="single-table-row">
                                <div>{{product.Name}}</div>
                                <div>Količina:<input type="number" min="1" value="1" ng-init="product.Counter=1" ng-model="product.Counter" /></div>
                                <i class="fa fa-times" aria-hidden="true" ng-click="deselectIncomingProduct(product)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-modal-column">
                    <div class="order-modal-row">Ostali proizvodi dobavljača:</div>
                    <div class="order-table-container">
                        <div class="order-table">
                            <span ng-repeat="product in products" ng-click="selectIncomingProduct(product)" class="single-table-row">{{product.Name}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-buttons">
                <div class="single-button"><button ng-click="addNewOrder()">Stvori</button></div>
                <div class="single-button cancel-button"><button ui-sref="orders">Odustani</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-overlay" ng-show="outgoingSelected">
    <div class="modal-box order-modal-box">
        <div class="modal-header">
            <div class="modal-header-row">
                <div class="modal-title"><label>Stvori izlaznu narudžbu</label></div>
            </div>
        </div>
        <div class="modal-content">
            <div class="order-modal-row" ng-show="phase===1">
                Odabir proizvoda:
            </div>
            <div class="order-modal-row" ng-show="phase===2">
                Odabir radnika:
            </div>
            <div class="order-modal-row" ng-show="phase===2">
                Radnik: 
                <span class="selectedEmployeeName">
                    {{selectedEmployee.FirstName}} {{selectedEmployee.LastName}} 
                    <i class="fa fa-times" aria-hidden="true" ng-click="deselectEmployee(selectedEmployee); showDeselectX=false" ng-if="showDeselectX"></i>
                </span>
            </div>
            <div class="order-columns-row">
                <div class="order-modal-column worker-column" ng-show="phase===2">
                    <div class="order-modal-row">Svi radnici:</div>
                    <div class="order-table-container">
                        <div class="order-table">
                            <div infinite-scroll="loadMoreEmployees()" infinite-scroll-distance="0" infinite-scroll-parent="true">
                                <div ng-repeat="employee in employees" ng-click="selectEmployee(employee)" class="single-table-row">
                                    <span ng-click="showDeselectX=true">{{employee.FirstName}} {{employee.LastName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-modal-column" ng-show="phase===1">
                    <div class="order-modal-row">Odabrani proizvodi:</div>
                    <div class="order-table-container">
                        <div class="order-table">
                            <div ng-repeat="product in selectedProducts" class="single-table-row">
                                <div>{{product.Name}}</div>
                                <div>Količina:<input type="number" min="1" value="1" ng-init="product.Counter=1" ng-model="product.Counter" /></div>
                                <i class="fa fa-times" aria-hidden="true" ng-click="deselectOutgoingProduct(product)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-modal-column" ng-show="phase===1">
                    <div class="order-modal-row">Proizvodi:</div>
                    <div class="order-table-container">
                        <div class="order-table">
                            <div infinite-scroll="loadMoreProducts()" infinite-scroll-distance="0" infinite-scroll-parent="true">
                                <span ng-click="selectOutgoingProduct(product)" ng-repeat="product in allProducts" class="single-table-row">{{product.Name}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-buttons">
                <div class="single-button" ng-show="phase===2"><button ng-click="phase=1">Natrag</button></div>
                <div class="single-button" ng-show="phase===1"><button ng-click="phase=2">Dalje</button></div>
                <div class="single-button" ng-show="phase===2"><button ng-click="addNewOrder(); phase=1">Stvori</button></div>
                <div class="single-button cancel-button"><button ui-sref="orders">Odustani</button></div>
            </div>
        </div>
    </div>
</div>
    
