<div id="employees">
    <div class="main-frame">
        <div class="frame-content">
            <div class="content-header">
                <div class="template-title-row">
                    <div class="template-title"><label class="title-label">Radnici</label></div>
                </div>
                <div class="columns-titles">
                    <div class="column-title"><label class="column-title-label">Slika</label></div>
                    <div class="column-title"><label class="column-title-label">Ime</label></div>
                    <div class="column-title"><label class="column-title-label">Prezime</label></div>
                    <div class="column-title empty-title"></div>
                </div>
            </div>
            <div class="content-body">
                <div infinite-scroll="loadMore()" infinite-scroll-distance="0" infinite-scroll-parent="true">
                    <div ng-repeat="employee in employees| filter: global.search" class="content-row">
                        <div class="row-element">
                            <div class="row-image-container">
                                <img ng-src="{{employee.ImageUrl}}" ng-model="image" alt="Korisnik nema sliku" onerror="this.src = '../../../Assets/Images/thumbnails/defaultemployee.png'" />
                            </div>
                        </div>
                        <div class="row-element">
                            {{employee.FirstName}}
                        </div>
                        <div class="row-element">
                            {{employee.LastName}}
                        </div>
                        <div class="row-element button-row-element">
                            <button ui-sref="employeedetails({id: employee.Id})">Detaljnije...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>