/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 300;
  src: local('Cormorant Infant Light Italic'), local('CormorantInfant-LightItalic'), url('../Fonts/CormorantInfant-LightItalic.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 300;
  src: local('Cormorant Infant Light Italic'), local('CormorantInfant-LightItalic'), url('../Fonts/CormorantInfant-LightItalic.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 400;
  src: local('Cormorant Infant Italic'), local('CormorantInfant-Italic'), url('../Fonts/CormorantInfant-Italic.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 400;
  src: local('Cormorant Infant Italic'), local('CormorantInfant-Italic'), url('../Fonts/CormorantInfant-Italic.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 500;
  src: local('Cormorant Infant Medium Italic'), local('CormorantInfant-MediumItalic'), url('../Fonts/CormorantInfant-MediumItalic.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 500;
  src: local('Cormorant Infant Medium Italic'), local('CormorantInfant-MediumItalic'), url('../Fonts/CormorantInfant-MediumItalic.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 600;
  src: local('Cormorant Infant SemiBold Italic'), local('CormorantInfant-SemiBoldItalic'), url('../Fonts/CormorantInfant-SemiBoldItalic.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 600;
  src: local('Cormorant Infant SemiBold Italic'), local('CormorantInfant-SemiBoldItalic'), url('../Fonts/CormorantInfant-SemiBoldItalic.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 700;
  src: local('Cormorant Infant Bold Italic'), local('CormorantInfant-BoldItalic'), url('../Fonts/CormorantInfant-BoldItalic.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 700;
  src: local('Cormorant Infant Bold Italic'), local('CormorantInfant-BoldItalic'), url('../Fonts/CormorantInfant-BoldItalic.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 300;
  src: local('Cormorant Infant Light'), local('CormorantInfant-Light'), url('../Fonts/CormorantInfant-Light.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 300;
  src: local('Cormorant Infant Light'), local('CormorantInfant-Light'), url('../Fonts/CormorantInfant-Light.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Infant Regular'), local('CormorantInfant-Regular'), url('../Fonts/CormorantInfant-Regular.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Infant Regular'), local('CormorantInfant-Regular'), url('../Fonts/CormorantInfant-Regular.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 500;
  src: local('Cormorant Infant Medium'), local('CormorantInfant-Medium'), url('../Fonts/CormorantInfant-Medium.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 500;
  src: local('Cormorant Infant Medium'), local('CormorantInfant-Medium'), url('../Fonts/CormorantInfant-Medium.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 600;
  src: local('Cormorant Infant SemiBold'), local('CormorantInfant-SemiBold'), url('../Fonts/CormorantInfant-SemiBold.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 600;
  src: local('Cormorant Infant SemiBold'), local('CormorantInfant-SemiBold'), url('../Fonts/CormorantInfant-SemiBold.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  src: local('Cormorant Infant Bold'), local('CormorantInfant-Bold'), url('../Fonts/CormorantInfant-Bold.ttf') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  src: local('Cormorant Infant Bold'), local('CormorantInfant-Bold'), url('../Fonts/CormorantInfant-Bold.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
    font-family: 'Cormorant Infant', serif, sans-serif;
    font-weight: 400;
}
