<div class="modal-overlay">
    <div class="modal-box details-box">
        <div class="modal-header">
            <div class="modal-header-row">
                <div class="modal-title"><label>Detalji o narudžbi</label></div>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-content-row creation-time-row">
                <div class="modal-row-element">Stvorena: {{order.TimeOfCreation | date:"dd. MM. yyyy.'god.'  'u'  H:m:s 'sati'"}}</div>
            </div>
            <div class="modal-content-row">
                <div class="modal-row-element" ng-show="order.Type===0">Dobavljač: {{nameOfSupplier}}</div>
                <div class="modal-row-element" ng-show="order.Type===1">Radnik: {{nameOfEmployee}}</div>
            </div>
            <div class="modal-content-row">
                <div class="modal-row-element">Naručeni proizvodi:</div>
            </div>
            <div class="modal-content-row products-row">
                <div class="products-container">
                    <div ng-repeat="productOrder in order.ProductOrders" class="single-product">
                        <div>{{productOrder.Product.Name}}</div>
                        <div class="selectedEmployeeName">Količina: {{productOrder.ProductQuantity}}</div>
                    </div>
                </div>
            </div>
            Barkod: <barcode type="code128b" render="img" string="barcode" options="options"></barcode>
        </div>
        <div class="modal-footer">
            <div class="modal-buttons">
                <div class="single-button"><button ui-sref="editorder({id:order.Id})">Uredi</button></div>
                <div class="single-button cancel-button"><button ng-click="deleteOrder(order.Id)">Otkaži</button></div>
                <div class="single-button cancel-button"><button ui-sref="orders">Zatvori</button></div>
            </div>
        </div>
    </div>
</div>
