<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WareMaster</title>

    <script src="~/Scripts/vendor/angular.min.js"></script>
    <script src="~/Scripts/vendor/underscore.min.js"></script>
    <script src="~/Scripts/vendor/angular-ui-router.min.js"></script>
    
    <script src="~/Scripts/app/app.module.js"></script>
    <script src="~/Scripts/app/app.config.js"></script>
    
    <script src="~/Scripts/services/suppliersRepository.js"></script>
    
    <script src="~/Scripts/app/signin/signin.state.js"></script>
    <script src="~/Scripts/app/signin/signin.controller.js"></script>

    <script src="~/Scripts/app/dashboard/dashboard.state.js"></script>
    <script src="~/Scripts/app/dashboard/dashboard.controller.js"></script>
  
    <base href="/">
</head>
<body>
<div>
    <div ui-view></div>
</div>
</body>
</html>