@{ Layout = "../Shared/_MainNavigationLayout.cshtml"; }
<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WareMaster</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Link za učitavanje font-awesome.css za ikone -->
    <link href="~/Assets/fontstyles/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- Link za učitavanje css datoteke koja sadrži font "Playfair display" za tekst stranice -->
    <link href="~/Assets/fontstyles/fontPlayfairDisplay.css" type="text/css" rel="stylesheet" />

    <!-- Stylesheets -->
    <link href="~/Assets/styles/mainHeader.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/Styles/subHeader.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/styles/signinMain.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/styles/dashboardMain.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/styles/mainFrame.css" type="text/css" rel="stylesheet" />

    <!-- Scripts -->
    <script src="~/Scripts/vendor/angular.min.js"></script>
    <script src="~/Scripts/vendor/underscore.min.js"></script>
    <script src="~/Scripts/vendor/angular-ui-router.min.js"></script>

    <script src="~/Scripts/vendor/ng-file-upload.min.js"></script>
    <script src="~/Scripts/vendor/ng-file-upload-shim.min.js"></script>

    <script src="~/Scripts/app/app.module.js"></script>
    <script src="~/Scripts/app/app.config.js"></script>

    <script src="~/Scripts/app/signin/signin.state.js"></script>
    <script src="~/Scripts/app/signin/signin.controller.js"></script>

    <script src="~/Scripts/app/dashboard/dashboard.state.js"></script>
    <script src="~/Scripts/app/dashboard/dashboard.controller.js"></script>

    <script src="~/Scripts/app/employees/employees.state.js"></script>
    <script src="~/Scripts/app/employees/employees.controller.js"></script>

    <script src="~/Scripts/app/addemployee/addemployee.state.js"></script>
    <script src="~/Scripts/app/addemployee/addemployee.controller.js"></script>

    <script src="~/Scripts/app/editemployee/editemployee.state.js"></script>
    <script src="~/Scripts/app/editemployee/editemployee.controller.js"></script>

    <script src="~/Scripts/app/products/products.state.js"></script>
    <script src="~/Scripts/app/products/products.controller.js"></script>

    <script src="~/Scripts/app/addproduct/addproduct.state.js"></script>
    <script src="~/Scripts/app/addproduct/addproduct.controller.js"></script>

    <script src="~/Scripts/app/editproduct/editproduct.state.js"></script>
    <script src="~/Scripts/app/editproduct/editproduct.controller.js"></script>
    

    <script src="~/Scripts/app/common/services/suppliers.repository.js"></script>
    <script src="~/Scripts/app/suppliers/suppliers.state.js"></script>
    <script src="~/Scripts/app/suppliers/suppliers.controller.js"></script>
    
    <script src="~/Scripts/app/addsupplier/addsupplier.state.js"></script>
    <script src="~/Scripts/app/addsupplier/addsupplier.controller.js"></script>
    
    <script src="~/Scripts/app/editsupplier/editsupplier.state.js"></script>
    <script src="~/Scripts/app/editsupplier/editsupplier.controller.js"></script>
    
    <script src="~/Scripts/app/common/services/functions.repository.js"></script>
    <script src="~/Scripts/app/common/services/suppliers.repository.js"></script>
    <script src="~/Scripts/app/common/services/products.repository.js"></script>
    <script src="~/Scripts/app/common/services/employees.repository.js"></script>

    <base href="/">
</head>

<body>
    <div>
        <div ui-view></div>
    </div>
</body>
</html>