@{ Layout = "../Shared/_MainNavigationLayout.cshtml"; }
<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WareMaster</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Link for loading font-awesome.css for icons -->
    <link href="~/Assets/fontstyles/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- Link for loading css file which contains font "Playfair display" for site text -->
    <link href="~/Assets/fontstyles/fontPlayfairDisplay.css" type="text/css" rel="stylesheet" />

    <!-- Stylesheets -->
    <link href="~/Assets/styles/mainHeader.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/Styles/subHeader.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/styles/loginMain.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/styles/dashboardMain.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/styles/mainFrame.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/styles/modalBox.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/Styles/orderModalBox.css" type="text/css" rel="stylesheet" />
    <link href="~/Assets/Styles/detailsModalBox.css" type="text/css" rel="stylesheet" />

    <!-- Vendor Scripts -->
    <script src="~/Scripts/vendor/angular.js"></script>
    <script src="~/Scripts/vendor/underscore.min.js"></script>
    <script src="~/Scripts/vendor/angular-ui-router.min.js"></script>
    <script src="~/Scripts/vendor/angular-jwt.min.js"></script>
    <script src="~/Scripts/vendor/ng-file-upload.min.js"></script>
    <script src="~/Scripts/vendor/ng-file-upload-shim.min.js"></script>
    
    <!-- General app scripts -->
    <script src="~/Scripts/app/main/app.module.js"></script>
    <script src="~/Scripts/app/main/app.config.js"></script>
    <script src="~/Scripts/app/main/app.interceptor.js"></script>
    <script src="~/Scripts/app/main/app.run.js"></script>
    
    <!-- Repositories -->
    <script src="~/Scripts/app/common/services/login.repository.js"></script>
    <script src="~/Scripts/app/common/services/functions.repository.js"></script>
    <script src="~/Scripts/app/common/services/employees.repository.js"></script>
    <script src="~/Scripts/app/common/services/products.repository.js"></script>
    <script src="~/Scripts/app/common/services/suppliers.repository.js"></script>
    <script src="~/Scripts/app/common/services/orders.repository.js"></script>
    <script src="~/Scripts/app/common/services/activitylogs.repository.js"></script>

    <!-- Common controllers -->
    <script src="~/Scripts/app/common/controllers/header.controller.js"></script>
    <script src="~/Scripts/app/common/controllers/mainmenu.controller.js"></script>
    <script src="~/Scripts/app/common/controllers/displaylayout.controller.js"></script>
    
    <!-- Login and registration -->
    <script src="~/Scripts/app/account/login/login.state.js"></script>
    <script src="~/Scripts/app/account/login/login.controller.js"></script>
    <script src="~/Scripts/app/account/register/register.state.js"></script>
    <script src="~/Scripts/app/account/register/register.controller.js"></script>
    <script src="~/Scripts/app/account/registerexisting/registerexisting.state.js"></script>
    <script src="~/Scripts/app/account/registerexisting/registerexisting.controller.js"></script>
    
    <!-- Dashboard -->
    <script src="~/Scripts/app/dashboard/dashboard.state.js"></script>
    <script src="~/Scripts/app/dashboard/dashboard.controller.js"></script>
    
    <!-- Employees -->
    <script src="~/Scripts/app/employee/employees/employees.state.js"></script>
    <script src="~/Scripts/app/employee/employees/employees.controller.js"></script>
    <script src="~/Scripts/app/employee/addemployee/addemployee.state.js"></script>
    <script src="~/Scripts/app/employee/addemployee/addemployee.controller.js"></script>
    <script src="~/Scripts/app/employee/editemployee/editemployee.state.js"></script>
    <script src="~/Scripts/app/employee/editemployee/editemployee.controller.js"></script>
    <script src="~/Scripts/app/employee/employeedetails/employeedetails.state.js"></script>
    <script src="~/Scripts/app/employee/employeedetails/employeedetails.controler.js"></script>
    
    <!-- Products -->
    <script src="~/Scripts/app/product/products/products.state.js"></script>
    <script src="~/Scripts/app/product/products/products.controller.js"></script>
    <script src="~/Scripts/app/product/addproduct/addproduct.state.js"></script>
    <script src="~/Scripts/app/product/addproduct/addproduct.controller.js"></script>
    <script src="~/Scripts/app/product/editproduct/editproduct.state.js"></script>
    <script src="~/Scripts/app/product/editproduct/editproduct.controller.js"></script>
    <script src="~/Scripts/app/product/productdetails/productdetails.state.js"></script>
    <script src="~/Scripts/app/product/productdetails/productdetails.controller.js"></script>
    
    <!-- Suppliers -->
    <script src="~/Scripts/app/supplier/suppliers/suppliers.state.js"></script>
    <script src="~/Scripts/app/supplier/suppliers/suppliers.controller.js"></script>  
    <script src="~/Scripts/app/supplier/addsupplier/addsupplier.state.js"></script>
    <script src="~/Scripts/app/supplier/addsupplier/addsupplier.controller.js"></script>  
    <script src="~/Scripts/app/supplier/editsupplier/editsupplier.state.js"></script>
    <script src="~/Scripts/app/supplier/editsupplier/editsupplier.controller.js"></script>
    <script src="~/Scripts/app/supplier/supplierdetails/supplierdetails.state.js"></script>
    <script src="~/Scripts/app/supplier/supplierdetails/supplierdetails.controller.js"></script>
    
    <!-- Orders -->
    <script src="~/Scripts/app/order/orders/orders.state.js"></script>
    <script src="~/Scripts/app/order/orders/orders.controller.js"></script>    
    <script src="~/Scripts/app/order/addorder/addorder.state.js"></script>
    <script src="~/Scripts/app/order/addorder/addorder.controller.js"></script>   
    <script src="~/Scripts/app/order/editorder/editorder.state.js"></script>
    <script src="~/Scripts/app/order/editorder/editorder.controller.js"></script>
    <script src="~/Scripts/app/order/orderdetails/orderdetails.state.js"></script>
    <script src="~/Scripts/app/order/orderdetails/orderdetails.controller.js"></script>   

    <base href="/">
</head>

<body>
    <div>
        <div ui-view></div>
    </div>
</body>
</html>