<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WareMaster</title>
    <script src="~/Scripts/vendor/angular.min.js"></script>
    <script src="~/Scripts/vendor/underscore.min.js"></script>
    <base href="/">
</head>
<body>
<div>
    <div ui-view></div>
</div>
</body>
</html>